<h1>Welcome coder</h1>
<form action="password">
    <h2>Password Generator</h2>
    <label for="length">Select the length of your password: </label>
    <select name="length" id="length">
        <option value="8">8 characters</option>
        <option value="16">16 characters</option>
        <option value="24">24 characters</option>
        <option value="32">32 characters</option>
    </select>
    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">
    <button>Generate</button>
</form>